*{
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    text-align: center;
    color: blue;
    font-size: larger;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 20px; */
    justify-content: center;
    background-image: url("https://media.istockphoto.com/id/1149180878/photo/dark-toned-photo-of-bouquet.jpg?s=1024x1024&w=is&k=20&c=9lpU1ljbL5ELSnY8bSDXN9v2uI7XBVdtO9WUT4hqxIA=");
    object-fit: cover;
    
}
.wheather{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 1350px;
    margin-top: 25px;
    /* border: 1px solid black; */
}
.navbar{
    height: 400px;
    width: 500px;
    border: 1px solid blue;
    /* margin-left: -200px; */
    border-radius: 25px;
    background-image: url("https://imgs.search.brave.com/JMU5_WD8HNFJhCs81eozm1Fo6D0DIoVBw35NrO6eu48/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvYXV0dW1uLWJh/Y2tncm91bmQtd2l0/aC1tdWx0aS1jb2xv/cmVkLWxlYXZlcy1m/bHlpbmctc2t5XzIy/NzY3OC0yNTEuanBn/P3NlbXQ9YWlzX2h5/YnJpZA");
    box-shadow: 0px 0px 20px #d4d4d4;
    border: none;
}
input{
    width: 350px;
    height: 40px;
    font-size: large;
    border-radius: 14px;
    background-color: yellowgreen;
    color: white;
    border: none;
    /* border: 5px transparent; */
}
button{
    width: 80px;
    height: 30px;
    font-size: large;
    border-radius: 10px;
    background-color: grey;
    border: none;
    color: white;
}
.search_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
   
}
button:hover{
    background-color: lightgreen;
}
h2{
    margin-bottom: 20px;
}
img{
    border: none;
    object-fit: cover;
    border-radius: 10px;
}
.inside{
    width: 400px;
    height: 200px;
    padding: 5px;
    margin: 15px;
    margin-left: 40px;
}
.humidityis{
    color: blueviolet;
    font-size: small;
}
.overcast{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}